<img src = "https://ibm.box.com/shared/static/hhxv35atrvcom7qc1ngn632mkkg5d6l3.png", width = 200>

<h1, align=center> Toronto - Big Data University Meetup</h1>

<h1, align=center> Exploratory Data Analysis in Python (Hands On)</h1>

<h3, align=center> October 13, 2015.</h3>
<h4, align=center><a href = "linkedin.com/in/polonglin">Polong Lin.</a></h4>

<img src= "https://ibm.box.com/shared/static/e8r3r60s4n88vwrabejovoxdpwqww91r.png", width = 150>

<hr>

###Table of Contents
[**Getting Started with Data Scientist Workbench**](#Getting-Started-with-Data-Scientist-Workbench)  
[**CO2 emissions by Country by Year**](#CO2-emissions-by-Country-by-Year)  
[**Get the Data**](#Get-the-Data)  
[**Import the data using Pandas**](#Import-the-data-using-Pandas)  
[**Dataframe characteristics **](#Dataframe-characteristics)  
[**Subsetting the Dataframe**](#Subsetting-the-Dataframe)  
[**Conditional Subsetting**](#Conditional-Subsetting)  
[**Data Cleaning**](#Data-Cleaning)  
[**Data Exploration**](#Data-Exploration)  
[**Creating an interactive searchable widget**](#Creating-an-interactive-searchable-widget)  
[**Resources**](#Resources)  
[**Other Datasets**](#Other-Datasets)

<hr>

<h1, align = "center">Getting to know the audience:</h2>
<h4, align = "center">Click to join the live poll:</h3>
<a href = "http://bit.ly/poll-python-data-exploration"><img src = "https://ibm.box.com/shared/static/1hiqry500pa73sxk9rb7f5yluiran1sx.png", height = 80></a>

<hr>

<h1, align=center>Getting Started with Data Scientist Workbench</h1>

#### To run a cell, press  
- *Ctrl+Enter* or  
- *Shift+Enter*

### <span style="color: red">YOUR TURN:</span>

In [ ]:
## RUN THIS CELL:
1+1

#### Print the current version of Python:

In [ ]:
import sys 
print sys.version

### Run bash commands using `!`

In [ ]:
!ls

#### Init

In [ ]:
reload(sys)  
sys.setdefaultencoding('utf8')

<br>
<hr>

<h3, align=center>Tweet about us!</h3>

<a href="https://twitter.com/intent/tweet?original_referer=http%3A%2F%2Fbigdatauniversity.com%2Fevents%2Fbeginners-exploratory-data-analysis-in-python-hands-on%2F&ref_src=twsrc%5Etfw&text=%23BDUmeetup+Exploratory+Data+Analysis+in+Python+by+%40polonglin+%40BigDataU+%23python+%23pandas+%23datascience%0D%0ALivestream+here&tw_p=tweetbutton&url=http%3A%2F%2Fbit.ly%2F1RFxOvL"><img src = 'https://ibm.box.com/shared/static/08tr9wem1vsoehcb3b19svim6b5knb6y.p', width=600></a>

<br><hr>

<h1, align="center">CO2 emissions by Country by Year</h1>

Carbon dioxide emissions are those stemming from the burning of fossil fuels and the manufacture of cement. They include carbon dioxide produced during consumption of solid, liquid, and gas fuels and gas flaring.

http://data.worldbank.org/indicator/EN.ATM.CO2E.PC/

<h2, align=center>Get the Data</h2>

Data can be downloaded from The World Bank [here](http://data.worldbank.org/indicator/EN.ATM.CO2E.PC/)

#### Here, we will use the bash command, `wget`, to fetch the csv file from a direct link

In [ ]:
!wget --output-document co2emissions.csv https://ibm.box.com/shared/static/3yzxbbizo49bkl8cnjw15tymzfwkycj4.csv

<hr>

<h2, align=center>Import the data using Pandas</h2>

#### Import required `pandas` library

In [ ]:
import pandas as pd

In [ ]:
pd.__version__

#### Import data using `pd.read_csv`

In [ ]:
data = pd.read_csv("/resources/co2emissions.csv", skiprows = 4)

In [ ]:
type(data) #Checks the type of object

In [ ]:
data

#### Display first 5 rows of `data` using `head`

In [ ]:
data.head()

#### Take just the first two rows using `head`

In [ ]:
data.head(2)

In [ ]:
data.head(n=1)

### Don't remember what the parameters are for a function? Use `?`

In [ ]:
#To close help window, press q
data.head?

#### Display last 7 rows of data

In [ ]:
data.tail(7)

<hr>

<h2, align=center>Dataframe characteristics</h2>

#### How many rows and columns are there?

In [ ]:
data.shape #(rows, columns)

In [ ]:
data.describe()

#### What are the column names?

In [ ]:
data.columns

#### What is the first column name?

In [ ]:
data.columns[0]

#### What is the first and second column name?

In [ ]:
data.columns[[0,1]]

<hr>

## Review Questions

### <span style="color: red">YOUR TURN:</span>

#### Print the first 3 rows of `data`

In [ ]:
## YOUR CODE BELOW

#### Print the names of the first and last column names

In [ ]:
## YOUR CODE BELOW

<hr>

<h2, align=center>Subsetting the Dataframe</h2>

### Select columns

#### Select columns by name:

In [ ]:
data['Country Name']

#### Select columns by column number:

In [ ]:
data[data.columns[0]]

#### Select the last column:

In [ ]:
data[data.columns[-1]]

#### Subset Multiple Columns by Name

In [ ]:
data[['Country Name', 'Country Code']]

### Select rows

A few different ways:

In [ ]:
data[0:1] #First row

In [ ]:
data.iloc[[0]] #First row

#### Select the last row

In [ ]:
data.iloc[-1]

<h2, align=center>Conditional Subsetting</h2>

Recall: there are various logical operators to create logical statements:

In [ ]:
1 == 2

In [ ]:
"Me" != "You"

In [ ]:
1000 > 1

When you apply a logical statement to an array, an array of Trues/Falses are returned, with respect to the logical statement.

In [ ]:
import numpy as np
my_range = np.array(range(1,100))
my_range

In [ ]:
truefalse = my_range > 50
truefalse

Then you can use the array of Trues/Falses to return *only the true values* from the original array.

In [ ]:
my_range[truefalse]

#### Select rows based on a condition

In [ ]:
#Data where the country name is Canada. Returns True/False
data['Country Name'] == 'Canada'

In [ ]:
data[data['Country Name'] == 'Canada'] #Subset based on condition

#### Select rows based on multiple conditions

In [ ]:
data[(data['Country Name'] == 'Canada') | (data['Country Code'] == 'JPN')]

#### Why does the following return no hits?

In [ ]:
data[(data['Country Name'] == 'Canada') & (data['Country Code'] == 'JPN')]

#### Combining logical statements using `&`

In [ ]:
data[(data['Country Name'] == 'Canada') & (data['Country Code'] == 'CAN')]

### Select data by row and column

What does the following do?

In [ ]:
data[['Country Name', 'Country Code', '2010']][16:21]

<hr>

## Review Question

### <span style="color: red">YOUR TURN:</span> 
<h3>Find the CO2 Emission per capita for France and Germany in 2010 and 2011</h3>

Your output should look like:

<img src = https://ibm.box.com/shared/static/23drzeu5h2uydwhb0un9qa4jq9yzrjbi.png, width = 300>

In [ ]:
## YOUR CODE BELOW

<hr>

<h1, align=center>Data Cleaning</h1>

#### Look at the data. What problems do we have with the data quality and how do we solve them?

For example, what's wrong with these rows?

In [ ]:
data.loc[[93,151,174,242]]

## Problems with the data quality:
1. Some rows are aggregates of countries rather than actual countries (e.g., "World").
1. Some columns are irrelevant and can be removed (e.g., "Indicator Name").
1. Some years have no data for any country (e.g., 2012 to 2015).
1. Some countries have no data for any year. (e.g., "Taiwan, China")

<br>

<h2> 1. Some rows are aggregates of countries rather than actual countries (e.g., "World"). </h2>

**Goals:**  
Remove rows that do not contain an actual country. Fortunately, the World Bank provides us with metadata on which rows are countries and which are aggregates.
- import countries_metadata.csv
- merge metadata with `data` on `Country Code`

#### Get `countries_metadata.csv`

In [ ]:
!wget --output-document countries_metadata.csv https://ibm.box.com/shared/static/qh3o86mpij17ot7anydcmbwt41lwxvln.csv

#### Import `countries_metadata.csv`

In [ ]:
metadata = pd.read_csv("/resources/countries_metadata.csv", encoding = "utf-8")

In [ ]:
sciencemetadata.head(10)

#### How do we identify when a listed "Country Name" is a country or an aggregated region?

Notice when the row is an aggregate like "Arab World", the `Region` and `IncomeGroup` are consistently NaN (Not a Number). We can use this rule to remove all non-country regions.

#### Merge `data` with `metadata` on the key, `Country Code`

In [ ]:
merge = pd.merge(data, metadata, on = "Country Code")

In [ ]:
merge.head(10)

**Note:** The region values are NaN when the row is not a actual country.

#### Remove rows where `Region` is NaN

In [ ]:
merge = merge[pd.notnull(merge['Region'])]

<br>

<h2>2. Some columns are irrelevant and can be removed.</h2>

**Goals:**  
Remove the following irrelevant columns:
- Column 3: **"Indicator Name"**
- Column 4: **"Indicator Code"**

In [ ]:
merge.columns

In [ ]:
merge = merge.drop(merge.columns[[60,61,64,65]], axis=1) # Note: zero indexed
merge = merge.drop('Indicator Name', 1)
merge = merge.drop('Indicator Code', 1)

In [ ]:
merge.columns

<h2>3. Some years have no data for any country.</h2>

**Goals:**  
Count the number of rows for each year. NaN value does not get counted towards the total.

In [ ]:
merge.count()

Checking year 2015 because there seems to be no rows containing data.

In [ ]:
merge['2015']

#### Remove columns with no row data

In [ ]:
merge = merge.drop(['2012', '2013', '2014', '2015'], 1)

In [ ]:
merge.count() #double-check that columns have been removed

<h2>4. Some countries have no data for any year.</h2>

**Goals:**  
Use row means to determine which countries have no data.

Let's take the means for each row (on axis 1).

In [ ]:
merge.mean(axis=1) #Takes the mean of all numeric quantities by row

As you can see, the NaN appears when there is no data for that row.

#### Remove rows where there are no values in any year

In [ ]:
merge = merge[pd.notnull(merge.mean(axis=1))]

<hr>

<h2, align = "center">Data Cleaning ... done!</h2>

### Assign a new name for convenience

In [ ]:
mydf = merge

<hr>

To recap:

In [ ]:
import pandas as pd

#Download data
#!wget --output-document co2emissions.csv https://ibm.box.com/shared/static/3yzxbbizo49bkl8cnjw15tymzfwkycj4.csv
#!wget --output-document countries_metadata.csv https://ibm.box.com/shared/static/qh3o86mpij17ot7anydcmbwt41lwxvln.csv
    
#Import data
data = pd.read_csv("/resources/co2emissions.csv", skiprows = 4)
metadata = pd.read_csv("/resources/countries_metadata.csv", encoding = "utf-8")

#Merge data
merge = pd.merge(data, metadata, on = "Country Code")

#Remove non-country regions
merge = merge[pd.notnull(merge['Region'])]

#Drop some columns with no data
merge = merge.drop(merge.columns[[60,61,64,65]], axis=1)
merge = merge.drop(['Indicator Name', 'Indicator Code','2012', '2013', '2014', '2015'], 1)

#Drop some rows with no data
merge = merge[pd.notnull(merge.mean(axis=1))]

#Rename
mydf = merge

In [ ]:
mydf

Want to export as csv?

In [ ]:
mydf.to_csv("co2emissions_cleaned.csv", index = False) #See Recent Data for exported csv

<br>

<hr>

<h1, align=center>Data Exploration</h1>

## Which countries have the highest CO2 emissions per capita in 2011?

In [ ]:
mydf[['Country Name', '2011']].sort('2011', ascending = False).head()

<br>

**Qatar?** According to an article by the National Geographic [here](http://on.natgeo.com/1K6Bh0d)...


<img src = "https://ibm.box.com/shared/static/oxa75navepphh9nlqdmxt3d3wkga8gdc.png", width = 400>

> Why is Qatar highest on the list of consumers? The oil pumped from the desert country's rich sands isn't counted against the country's consumption (unless it's burned in-state), but energy usage is sky-high in this Middle Eastern country. Citizens are provided with free electricity and free water, which the Guardian's Fred Pearce described in a 2010 column as "liquid electricity," since water in the Middle East is often produced by desalinating seawater, an energy-intensive activity. (In this photo, taken in October 2011, window washers return to the ground along the facade of the 52-story Tornado Tower.)

>Energy demand is rising by 7 percent a year to run the desalinators and air conditioners that maintain life in the desert and the natural gas production equipment that funds it.  

>http://on.natgeo.com/1K6Bh0d

<br>

### <span style="color: red">YOUR TURN:</span> 
## Which countries have the lowest CO2 emissions per capita in 2011?

In [ ]:
## YOUR CODE BELOW

<br>

## Across all countries, how has CO2 emissions per capita changed over the years?

#### Plot the world averages across the years, from 1960 to 2011.

Import matplotlib for plotting

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline

Create the plot:

In [ ]:
#Assign x,y values
world_x = mydf[mydf.columns[2:54]].mean().index
world_y = mydf[mydf.columns[2:54]].mean()

#Plot
plt.plot(world_x, world_y)
plt.title("CO2 Emissions per capita averaged across all countries")
plt.ylabel("Mean CO2 Emissions (metric tons/capita)")
plt.xlabel("Year")

## Which regions had the highest CO2 emissions per capita in 2011?

#### What are all the regions?

In [ ]:
mydf.Region

#### Return only a list of unique regions:

In [ ]:
mydf.Region.unique()

#### Group by region and aggregate using the mean function

In [ ]:
by_region = mydf.groupby('Region').agg('mean') #groupby then aggregate
by_region['2011']

#### Check the aggregate values

In [ ]:
by_region['2011']

#### Plot the Mean CO2 Emission by Region in 2011

In [ ]:
plt.bar(range(len(by_region['2011'])),by_region['2011'].values)
plt.xticks(range(len(by_region['2011'])), by_region['2011'].index, rotation=70)
plt.ylabel('CO2 Emission (metric ton/capita)')
plt.title('Mean CO2 Emission by Region in 2011')

<br>

### <span style="color: red">YOUR TURN:</span> 
##Which income groups have the highest average CO2 emissions in 2011?

First, identify the **unique** income groups in `mydf`:

In [ ]:
## MY CODE BELOW

Next, group the dataframe, `mydf`, by the `IncomeGroup` column, and then aggregate by the `mean`.

In [ ]:
## MY CODE BELOW

# Remember to limit to 2011. 
# Assign result to a new variable, by_incomegroup

Plot the result in a bar graph.

In [ ]:
## MY CODE BELOW

<br><hr>

## Show the CO2 emissions trend for all countries from 1960 to 2011

Can we create a line graph showing the trend of CO2 emissions across the years for each of the 199 countries?

In [ ]:
def plot_countries(mydf):
    from pylab import rcParams
    rcParams['figure.figsize'] = (12,6)
    import numpy as np

    colormap = plt.cm.gist_ncar
    plt.gca().set_color_cycle([colormap(i) for i in np.linspace(0, 0.9, len(range(1960,2012)))])


    for i in range(0,len(mydf)):
        plt.plot(mydf.iloc[i,][2:54])
    plt.xticks(range(len(range(1960,2012))),mydf.columns.values[2:54], rotation = 70)
    #plt.legend(mydf["Country Name"].values, loc='upper left')
    plt.legend(mydf["Country Name"].values, ncol=4, loc='upper center', 
               bbox_to_anchor=[0.4, -0.1], 
               columnspacing=1.0, labelspacing=0.0,
               handletextpad=0.0, handlelength=1.0,
               fancybox=True)
    plt.ylabel("CO2 Emission (metric ton/capita)")
    plt.title("CO2 Emission Per Capita by Country and Year")
    plt.show()

In [ ]:
plot_countries(mydf)

<hr>

<h1, align=center>Creating an interactive searchable widget</h1>

We can create an interactive widget in this notebook that allows you to search for specific countries or regions and return only a subset of the dataframe.

To learn more about interactive widgets, see the IPython guide here:
http://nbviewer.ipython.org/github/quantopian/ipython/blob/master/examples/Interactive%20Widgets/Index.ipynb

## Create a search function that returns a subset of the dataframe

In [ ]:
def filter_country(search_term):
    '''
    Filters the medals_df DataFrame to only contain rows whose Sport or Discipline
    columns contain the given search_term.
    '''
    return mydf[mydf["Country Name"].str.contains(search_term, case=False) \
                     | mydf["Country Code"].str.contains(search_term, case=False)\
                     | mydf["Region"].str.contains(search_term, case=False)]

### Testing the search function, `filter_country`

In [ ]:
filter_country("japan")

## Plotting the result of the search function

In [ ]:
plot_countries(filter_country("jpn"))

## Creating the interactive widget

In [ ]:
# import display to show DataFrame content
from IPython.display import display
# import the widgets interact function to automatically create interactive UI
from IPython.html.widgets import interact

# decorate the search_and_plot_medals function using interact
# to create text field UI for search term
@interact(search='')
def search_and_plot_countries(search):
    '''
    Display medals by country when given a search term.
    '''
    filtered_country = filter_country(search)
    if len(filtered_country) == 0:
        print 'No hits'
        return
    
    # show plot 
    plot_countries(filtered_country)
    # output results
    display(filtered_country)

<br>
<hr>

<h3, align=center>Tweet about us!</h3>

<a href="https://twitter.com/intent/tweet?original_referer=http%3A%2F%2Fbigdatauniversity.com%2Fevents%2Fbeginners-exploratory-data-analysis-in-python-hands-on%2F&ref_src=twsrc%5Etfw&text=%23BDUmeetup+Exploratory+Data+Analysis+in+Python+by+%40polonglin+%40BigDataU+%23python+%23pandas+%23datascience%0D%0ALivestream+here&tw_p=tweetbutton&url=http%3A%2F%2Fbit.ly%2F1RFxOvL"><img src = 'https://ibm.box.com/shared/static/08tr9wem1vsoehcb3b19svim6b5knb6y.p', width=600></a>

<br>

<h3, align=center>We are sponsoring a SportsHack!</h3>

<a href = "http://sportshackweekend.org/ca/2015/"><img src = "http://sportshackweekend.org/ca/2015/img/ca2015.jpg", width = 400></a>

<hr>

### Resources
- [Python Pandas Documentation](http://pandas.pydata.org/)
- [IPython Interactive Widgets](http://nbviewer.ipython.org/github/quantopian/ipython/blob/master/examples/Interactive%20Widgets/Index.ipynb)
- [Spark Fundamentals I](http://bigdatauniversity.com/bdu-wp/bdu-course/spark-fundamentals/)
- [Spark Fundamentals II](http://bigdatauniversity.com/bdu-wp/bdu-course/spark-fundamentals-ii/)

###Other Datasets
- [World Bank Data](http://data.worldbank.org/)
- [United Nations Data](http://data.un.org/)
- [Toronto Open Data](http://www1.toronto.ca/wps/portal/contentonly?vgnextoid=1a66e03bb8d1e310VgnVCM10000071d60f89RCRD)
- [Reddit /r/datasets](reddit.com/r/datasets)
- [100+ Interesting Datasets](http://rs.io/100-interesting-data-sets-for-statistics/)